devsite-youtube{display:block;overflow:hidden;padding-bottom:56.25%;position:relative;width:100%}devsite-youtube iframe{height:101%;left:-0.5%;position:absolute;top:-0.5%;width:101%}devsite-youtube .devsite-video-placeholder span{color:#202124;padding:8px;position:absolute}devsite-youtube .devsite-video-placeholder img{position:absolute}

